.button {
  font-size: 1.5rem;
  padding: 1.7rem 10rem;
  border-radius: 0.3rem;
  border: none;
  color: var(--white);
  background-color: var(--light-blue);

  &:hover {
    transition: all 0.7s ease-in-out;
    filter: brightness(1.2);
  }
}
